@model IEnumerable<ViewBuilding>

@foreach (var viewBuilding in Model)
{
    if (viewBuilding._FloorsList.Count<=0)
    {
        continue;
    }
    <div class="fakeimg">
        <a style="font-size: 24px; font-weight: bold" class=" toggle" href="#floor_container_@viewBuilding._Building._Id" id="building_@viewBuilding._Building._Id">@viewBuilding._Building._Name - @viewBuilding._Building._Location (@viewBuilding._FloorsList.Select(x => x._RoomsList.Select(x => x._DeskList.Count).Sum()).Sum())</a>
        
        <div id="floor_container_@viewBuilding._Building._Id"  class="toggle-content ">

            @foreach (var viewFloors in viewBuilding._FloorsList)
            {
                

                <div class="fakeimg">
                    
                    <a style="font-size: 20px; font-weight: bold" class=" toggle" href="#room_container_@viewFloors._Floor._Id" id="floor_@viewFloors._Floor._Id">@viewFloors._Floor._Name (@viewFloors._RoomsList.Select(x => x._DeskList.Count).Sum())</a>
                    <div id="room_container_@viewFloors._Floor._Id"class="toggle-content "style="padding-left:10px">



                        <div class="row">
                            @foreach (var viewRooms in viewFloors._RoomsList)
                            {

                                <div class="col-lg-5 col-md-12 roomContainer">
                                    <div style="width: 100%; width: 100%; margin: 5px" class="text-center">
                                        <a id="room_@viewRooms._Room._Id" href="#desk_container_@viewRooms._Room._Id" class=" toggle  font-weight-bold" style="width: 100%; ">@viewRooms._Room._Name (@viewRooms._DeskList.Count)</a>
                                    </div>
                                    <div id="desk_container_@viewRooms._Room._Id" class="toggle-content"style="padding-right: 15px;">
                                        @foreach (var viewDesks in viewRooms._DeskList)
                                        {

                                            <div class="fakeimg ">
                                                <div class="input-group-prepend">
                                                    <a id="desk_@viewDesks._Desk._Id" href="#booking_container_@viewDesks._Desk._Id" class=" toggle">Tisch @viewDesks._Desk._Id - @viewDesks._Desk._Name</a>

                                                    <span class="input-group-text" data-placement="right" rel="pop_Details_@viewDesks._Desk._Id"><i class="fa fa-info" aria-hidden="true" style="color: orange"></i></span>
                                                    <div id="pop_Details_@viewDesks._Desk._Id" style="display: none;" >
                                                        <div>
                                                            <ul>
                                                                @if (viewDesks._Desk._Computer)
                                                                {
                                                                    <li>Computer <i class="fa fa-check-square-o"></i></li>
                                                                }
                                                                else
                                                                {
                                                                    <li>Computer <i class="fa fa-square-o"></i></li>
                                                                }
                                                                @if (viewDesks._Desk._Docking)
                                                                {
                                                                    <li>Docking Station <i class="fa fa-check-square-o"></i></li>
                                                                }
                                                                else
                                                                {
                                                                    <li>Docking Station <i class="fa fa-square-o"></i></li>
                                                                }
                                                                @if (viewDesks._Desk._Mouse)
                                                                {
                                                                    <li>Maus <i class="fa fa-check-square-o"></i></li>
                                                                }
                                                                else
                                                                {
                                                                    <li>Maus <i class="fa fa-square-o"></i></li>
                                                                }
                                                                @if (viewDesks._Desk._Keyboard)
                                                                {
                                                                    <li>Tastatur <i class="fa fa-check-square-o"></i></li>
                                                                }
                                                                else
                                                                {
                                                                    <li>Tastatur <i class="fa fa-square-o"></i></li>
                                                                }

                                                                <li>Bildschirme: @viewDesks._Desk._Screens</li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    window.$("[rel=pop_Details_@viewDesks._Desk._Id]").popover({
                                                        html: true,
                                                        trigger: "hover",
                                                        content: function() {
                                                            return window.$("#pop_Details_@viewDesks._Desk._Id").html();
                                                        }
                                                    });
                                                </script>

                                                <span id="hintContainer_@viewDesks._Desk._Id">
                                                    @foreach (var viewBookings in viewDesks._BookingsList)
                                                    {
                                                        if (viewBookings._End > DateTime.Now)
                                                        {
                                                            <hr style="border-top: 1px solid orange;"/>
                                                            <div class="text-center" id="bookingRow_@viewBookings._Id" style="background-color: lightcoral; margin: 5px; border-radius: 5px;">Belegt: @viewBookings._Start.ToString("dd.MM.yyyy HH:mm") - @viewBookings._End.ToString("dd.MM.yyyy HH:mm") </div>
                                                        }
                                                    }
                                                </span>

                                                <div id="booking_container_@viewDesks._Desk._Id" class="toggle-content">

                                                    <div class="row p-3">
                                                        <div class="col-xl-12 p-1" style="display:flex;justify-content:center">
                                                            <div class="col-xl-2">
                                                                von:
                                                            </div>
                                                            <div class="col-xl-10">
                                                                <input type="datetime" class="form-control" id="in_dateTimePicker_@viewDesks._Desk._Id" />
                                                            </div>
                                                        </div>


                                                        <div class="col-xl-12 p-1" style="display:flex;justify-content:center">
                                                            <div class="col-xl-2">
                                                                bis:
                                                            </div>
                                                            <div class="col-xl-10">
                                                                <input type="datetime" class="form-control" id="out_dateTimePicker_@viewDesks._Desk._Id" />
                                                            </div>

                                                        </div>
                                                    </div><br />
                                                    <button id="btnBook_@viewDesks._Desk._Id" class="btn btn-success btn-block">Zeitraum buchen</button>
                                                    <span id="blockedContainer_@viewDesks._Desk._Id" style="display:none">                                                       
                                                                <hr style="border-top: 1px solid orange;" />
                                                                <div class="text-center" style="background-color: lightcoral; margin: 5px; border-radius: 5px;">Der Buchungszeitraum überschneidet sich mit einem bereits gebuchten Zeitraum.</div>
                                                       
                                                    </span>


                                                    <script>
                                                        document.getElementById("btnBook_@viewDesks._Desk._Id").addEventListener("click",
                                                            function() {
                                                                createBooking(@viewDesks._Desk._Id);
                                                            });

                                                        var instance = new dtsel.DTS('input[id="in_dateTimePicker_@viewDesks._Desk._Id"]',
                                                            {
                                                                showTime: true,
                                                                dateFormat: "dd-mm-yyyy",
                                                                timeFormat: "HH:MM:SS",
                                                                direction: 'BOTTOM'
                                                            });
                                                        var instance = new dtsel.DTS('input[id="out_dateTimePicker_@viewDesks._Desk._Id"]',
                                                            {
                                                                showTime: true,
                                                                dateFormat: "dd-mm-yyyy",
                                                                timeFormat: "HH:MM:SS",
                                                                direction: 'BOTTOM'
                                                            });
                                                    </script>

                                                </div>
                                                @*booking*@

                                            </div>
                                        }
                                        @*desk*@
                                    </div>
                                </div>
                            }
                            @*room*@
                        </div>
                    </div>
                </div>
            }
            @*floor*@

        </div>
    </div>

}
@*building*@
