@{ Layout = "_Layout";}
@model Tuple<IEnumerable<Buildings>, IEnumerable<Floors>, IEnumerable<Rooms>, IEnumerable<Desks>>

<form>
    <body>
        <div class="row">
            <div class="col-xl-6">

                <div id="_AddBuildingdiv" class="fakeimg ">
                    @await Html.PartialAsync("_AddBuilding", new Buildings())
                </div>
                <hr />
                <div id="_AddFloordiv" class="fakeimg ">
                    @await Html.PartialAsync("_AddFloor", Tuple.Create(Model.Item1, new Floors()))
                </div>
                <hr />
                <div id="_AddRoomdiv" class="fakeimg ">
                    @await Html.PartialAsync("_AddRoom", new Rooms())
                </div>
                <hr />
                <div id="_AddDeskdiv" class="fakeimg ">
                    @await Html.PartialAsync("_AddDesk", new Desks())
                </div>

            </div>
            <div class="col-xl-6">
                <div id="_AddDeskdiv" class="fakeimg ">
                    @await Html.PartialAsync("_AddUser", new UserIdentity())
                </div>
            </div>
        </div>

        <hr />
        <div id="_EditBuildingDiv" class="fakeimg ">
            @await Html.PartialAsync("_EditBuilding", Model.Item1)
        </div>
        <hr />
        <div id="_EditFloorDiv" class="fakeimg ">
            @await Html.PartialAsync("_EditFloor", Model.Item2)
        </div>
        <hr />
        <div id="_EditRoomDiv" class="fakeimg ">
            @await Html.PartialAsync("_EditRoom", Model.Item3)
        </div>
        <hr />
        <div id="_EditDeskDiv" class="fakeimg ">
            @await Html.PartialAsync("_EditDesk", Model.Item4)
        </div>
    </body>
</form>




<script>
    $(window).on('load', function () {
        setNavbarEvents();
    });

    var Urls =
    {
        getFloorsURL: '@Url.Action("GetFloorsByBuilding", "Home")',
        getRoomsURL: '@Url.Action("GetRoomsByFloor", "Home")',

        _AddBuildingURL: '@Url.Action("_AddBuilding", "Home")',
        _AddFloorURL: '@Url.Action("_AddFloor", "Home")',
        _AddRoomURL: '@Url.Action("_AddRoom", "Home")',
        _AddDeskURL: '@Url.Action("_AddDesk", "Home")',
        _EditBuildingURL: '@Url.Action("_EditBuilding", "Home")',
        _EditFloorURL: '@Url.Action("_EditFloor", "Home")',
        _EditRoomURL: '@Url.Action("_EditRoom", "Home")',
           _EditDeskURL: '@Url.Action("_EditDesk", "Home")',
    }

    function saveBuildingRecord(id) {
        var building = {
            _Id: id,
            _Order: $("#buildingOrder_"+id).val(),
            _Location: $("#buildingLocation_"+id).val(),
            _Name: $("#buildingName_"+id).val()
        }
        console.log("Edit building"); console.log(building);
        window.$.ajax({
            url: window.Urls._EditBuildingURL,
            data: { building: JSON.stringify(building), remove:false },
            type: "POST",
            success: function (data) {
                $("#_EditBuildingDiv").html(data);
                console.log("Edit building success");
            }, error: function(){
                console.log("Edit building failed");
            }
        });
    }
    function deleteBuildingRecord(id) {
        var building = {
            _Id: id,
            _Order: $("#buildingOrder_" + id).val(),
            _Location: $("#buildingLocation_" + id).val(),
            _Name: $("#buildingName_" + id).val()
        }

        window.$.ajax({
            url: window.Urls._EditBuildingURL,
            data: { building: JSON.stringify(building), remove: true },
            type: "POST",
            success: function (data) {
                $("#_EditBuildingDiv").html(data);
            }, error: {

            }
        });
    }

    function saveFloorRecord(id) {
        var floor = {
            _Id: id,
            _Order: $("#floorOrder_" + id).val(),
            _BuildingId: $("#floorBuilding_" + id).val(),
            _Name: $("#floorName_" + id).val()
        }
        console.log("Edit floor"); console.log(floor);
        window.$.ajax({
            url: window.Urls._EditFloorURL,
            data: { floor: JSON.stringify(floor), remove: false },
            type: "POST",
            success: function (data) {
                $("#_EditFloorDiv").html(data);
                console.log("Edit floor success");
            }, error: function () {
                console.log("Edit floor failed");
            }
        });
    }
    function deleteFloorRecord(id) {
        var floor = {
            _Id: id,
            _Order: $("#floorOrder_" + id).val(),
            _BuildingId: $("#floorBuilding_" + id).val(),
            _Name: $("#floorName_" + id).val()
           
        }

        window.$.ajax({
            url: window.Urls._EditFloorURL,
            data: { floor: JSON.stringify(floor), remove: true },
            type: "POST",
            success: function (data) {
                $("#_EditFloorDiv").html(data);
            }, error: {

            }
        });
    }


    function saveRoomRecord(id) {
        var room = {
            _Id: id,
            _Order: $("#roomOrder_" + id).val(),
            _Name: $("#roomName_" + id).val(),
            _FloorId: $("#roomFloorid_"+id).id()
        }
        console.log("Edit room"); console.log(room);
        window.$.ajax({
            url: window.Urls._EditRoomURL,
            data: { room: JSON.stringify(room), remove: false },
            type: "POST",
            success: function (data) {
                $("#_EditRoomDiv").html(data);
                console.log("Edit room success");
            }, error: function () {
                console.log("Edit room failed");
            }
        });
    }
    function deleteRoomRecord(id) {
        var room = {
            _Id: id,
            _Order: $("#roomOrder_" + id).val(),
            _Name: $("#roomName_" + id).val(),
            _FloorId: $("#roomFloorid_" + id).id()
        }

        window.$.ajax({
            url: window.Urls._EditRoomURL,
            data: { room: JSON.stringify(room), remove: true },
            type: "POST",
            success: function (data) {
                $("#_EditRoomDiv").html(data);
            }, error: {

            }
        });
    }

    function saveDeskRecord(id) {
        var desk = {
            _Id: id,
            _Order: $("#deskOrder_" + id).val(),
            _Name: $("#deskName_" + id).val(),
            _RoomId: $("#deskRoom_" + id).val(),
            _Screens: $("#deskScreens_" + id).val(),
            _Keyboard: $("#deskKeyboard_" + id).val(),
            _Mouse: $("#deskMouse_" + id).val(),
            _Docking: $("#deskDocking_" + id).val(),
            _Computer: $("#deskComputer_" + id).val(),
            _Stand: $("#deskStand_" + id).val()
        }
        console.log("Edit desk"); console.log(desk);
        window.$.ajax({
            url: window.Urls._EditDeskURL,
            data: { desk: JSON.stringify(desk), remove: false },
            type: "POST",
            success: function (data) {
                $("#_EditDeskDiv").html(data);
                console.log("Edit desk success");
            }, error: function () {
                console.log("Edit desk failed");
            }
        });
    }
    function deleteDeskRecord(id) {
        var desk = {
            _Id: id,
            _Order: $("#deskOrder_" + id).val(),
            _Name: $("#deskName_" + id).val(),
            _RoomId: $("#deskRoom_" + id).val(),
            _Screens: $("#deskScreens_" + id).val(),
            _Keyboard: $("#deskKeyboard_" + id).val(),
            _Mouse: $("#deskMouse_" + id).val(),
            _Docking: $("#deskDocking_" + id).val(),
            _Computer: $("#deskComputer_" + id).val(),
            _Stand: $("#deskStand_" + id).val()
        }

        window.$.ajax({
            url: window.Urls._EditDeskURL,
            data: { desk: JSON.stringify(desk), remove: true },
            type: "POST",
            success: function (data) {
                $("#_EditDeskDiv").html(data);
            }, error: {

            }
        });
    }

        $("#_AddBuildingSubmitButton").click(function() {
            var building= {
                _Order: $("#buildingOrder").val(),
                _Location: $("#buildingLocation").val(),
                _Name: $("#buildingName").val()
            }

            window.$.ajax({
                url: window.Urls._AddBuildingURL,
                data: { building: JSON.stringify(building) },
                type: "POST",
                success: function (data) {
                    $("#_AddBuildingSpan").html(data);
                }, error: {

                }
            });
    });
        $("#_AddFloorSubmitButton").click(function() {
            var floor= {
                _Order: $("#floorOrder").val(),
                _BuildingId: $("#ddBuilding").val(),
                _Name: $("#floorName").val()
            }

            window.$.ajax({
                url: window.Urls._AddFloorURL,
                data: { floor: JSON.stringify(floor) },
                type: "POST",
                success: function (data) {
                    $("#_AddFloorSpan").html(data);
                }, error: {

                }
            });
    });
        $("#_AddRoomSubmitButton").click(function() {
            var room= {
                _FloorId: $("#ddFloor").val(),
                _Order: $("#roomOrder").val(),
                _Name: $("#roomName").val()
            }

            window.$.ajax({
                url: window.Urls._AddRoomURL,
                data: { room: JSON.stringify(room) },
                type: "POST",
                success: function (data) {
                    $("#_AddRoomSpan").html(data);
                }, error: {

                }
            });
    });
    $("#_AddDeskSubmitButton").click(function() {
            var desk= {
                _RoomId: $("#ddRoom").val(),
                _Order: $("#deskOrder").val(),
                _Name: $("#deskName").val(),
                _Screens: $("#deskScreens").val(),
                _Keyboard: $("#deskKeyboard").val(),
                _Mouse: $("#deskMouse").val(),
                _Docking: $("#deskDocking").val(),
                _Computer: $("#deskComputer").val(),
                _Stand: $("#deskStand").val(),
            }

            window.$.ajax({
                url: window.Urls._AddDeskURL,
                data: { desk: JSON.stringify(desk) },
                type: "POST",
                success: function (data) {
                    $("#_AddDeskSpan").html(data);
                }, error: {

                }
            });
    });

    $("#ddBuilding").change(function () {
        var id = $("#ddBuilding").val();
        if (id == null) {
            alert("Bitte wählen Sie ein Gebäude aus.");
            return;
        }
        fillBuildingDropdown(id);
    });
    function fillBuildingDropdown(id) {
        window.$.ajax({
            url: window.Urls.getFloorsURL,
            data: { id: id },
            type: "GET",
            success: function (data) {
                window.$("#ddFloor").html(" <option disabled selected value='null'> -- Stockwerk auswählen -- </option>");

                window.$.each(data,
                    function (i, item) {

                        window.$("#ddFloor").append(window.$("<option></option>").attr("value", item._Id).text(item._Name));

                    });
            }, error: {

            }
        });
    }
    $("#ddFloor").change(function() {
        var id = $("#ddFloor").val();
        if (id == null) {
            alert("Bitte wählen Sie ein Stockwerk aus.");
            return;
        }
        fillFloorDropdown(id);
    });
    function fillFloorDropdown(id) {
        window.$.ajax({
            url: window.Urls.getRoomsURL,
            data: { id: id },
            type: "GET",
            success: function (data) {
                window.$("#ddRoom").html(" <option disabled selected value='null'> -- Raum auswählen -- </option>");

                window.$.each(data,
                    function (i, item) {
                        window.$("#ddRoom").append(window.$("<option></option>").attr("value", item._Id).text(item._Name));

                    });
            }, error: {

            }
        });
    }
</script>
